{% extends 'servicios/plantilla-servicios.html' %}

{% load static %}

{% block head-title %}
  <title>Coronas y puentes | Clínica Dental Díaz</title>
{% endblock %}

{% block banner-image %}
  <img src="{% static 'images/portadas/coronas-y-puentes.jpg' %}" class="slider-imagen">
{% endblock %}

{% block title %}
  Coronas y puentes
{% endblock %}

{% block principal %}
  <p>Las <b>coronas dentales</b> son 'fundas' que se colocan sobre los dientes dañados. Las coronas se utilizan para proteger, cubrir y restaurar la forma de los dientes cuando los empastes no resuelven el problema. Las coronas dentales pueden estar hechas de metal, porcelana, resina y cerámica. Normalmente no requieren cuidados especiales a lo largo del tiempo, aparte de una buena higiene bucal regular.</p>
  <p>Con el tiempo, los dientes pueden dañarse. Esto puede ocurrir por diversas razones, como caries, lesiones o simplemente el uso a lo largo del tiempo. Los dientes pueden perder su forma o tamaño. Las coronas dentales son 'fundas' con forma de diente que se colocan sobre el diente. Piense en ellas como si fueran un gorro ajustado al diente. La corona <b>devuelve al diente su forma, tamaño, resistencia y aspecto</b>. Se puede necesitar una corona dental por varias razones, entre ellas:</p>
  <ul>
    <li>Proteger un diente débil (posiblemente por caries) para que no se rompa o para mantener unido el diente débil si tiene partes agrietadas.</li>
    <li>Restaurar un diente roto o muy desgastado.</li>
    <li>Cubrir y apoyar un diente con un gran relleno y no mucho diente restante.</li>
    <li>Sujetar un puente dental.</li>
    <li>Cubrir dientes deformes o muy descoloridos.</li>
    <li>Cubrir un implante dental.</li>
    <li>Cubrir un diente que ha sido tratado con una endodoncia.</li>
  </ul>
  <p>Si le faltan uno o varios dientes, un <b>puente dental</b> puede rellenar el hueco con uno o varios dientes artificiales (postizos). Un puente suele estar formado por coronas a ambos lados del diente o dientes que faltan, que soportan el póntico (diente postizo) y se cementan en su lugar.</p>
  <p>Los puentes dentales pueden ayudarle si le faltan uno o varios dientes. Las causas más comunes de la falta de dientes son las caries, las enfermedades de las encías y las lesiones, o puede que haya nacido con una falta de dientes debido a una enfermedad congénita. Para colocarse un puente dental, <b>se necesitan dientes sanos a ambos lados de los que faltan</b>.</p>
{% endblock %}

{% block service-image %}
  <img src="{% static 'images/servicios/coronas-y-puentes.jpg' %}">
{% endblock %}
