{% extends 'servicios/plantilla-servicios.html' %}

{% load static %}

{% block head-title %}
  <title>Evaluación clínica y radiográfica | Clínica Dental Díaz</title>
{% endblock %}

{% block banner-image %}
  <img src="{% static 'images/portadas/evaluacion-clinica-y-radiografica.jpg' %}" class="slider-imagen">
{% endblock %}

{% block title %}
  Evaluación clínica y radiográfica
{% endblock %}

{% block principal %}
  <p>Una <b>evaluación clínica dental</b> cubre todos los aspectos básicos, examinando el estado de los dientes y la boca. En una evaluación clínica, el dentista utiliza una sonda en forma de hoz y un espejo para observar el interior de la boca. El dentista también puede utilizar un cepillo rotatorio motorizado para limpiar el sarro y la placa. En una evaluación clínica dental se observa con mucha profundidad y detalle.</p>
  <p>Además de las revisiones habituales de un examen dental estándar, una evaluación clínica dental entra en detalles. La atención adicional incluye:</p>
  <ul>
    <li><b>Examen diente por diente:</b> más exhaustivo que el examen dental estándar, el examen diente por diente revisa cada diente en detalle. El dentista no sólo observa la decoloración y la placa, sino que también busca astillas y daños sutiles.</li>
    <li><b>Examen periodontal:</b> examen de las encías, en el que se observa el color y se comprueba la firmeza de la pulpa alrededor de los dientes. Las encías retraídas o sangrantes son un indicador de mala salud dental. Las enfermedades de las encías pueden provocar la pérdida de dientes y contribuir a otros problemas de salud.</li>
    <li><b>Evaluación de la mordida:</b> examinar la mordida de un paciente puede revelar fuentes de dolor en dientes y encías. Las molestias al morder pueden indicar dolor de muelas, enfermedades de las encías y otras afecciones. Evaluar la mordida del paciente también puede ayudar a identificar desalineaciones sutiles de los dientes y la mandíbula.</li>
  </ul>
  <p>Además de la versión más detallada de un examen dental estándar, una evaluación clínica dental también puede incluir una <b>evaluación radiográfica dental</b>.</p>
  <p>Las <b>radiografías dentales</b> son imágenes de los dientes que el dentista utiliza para evaluar la salud bucodental. Estas radiografías se utilizan con bajos niveles de radiación para captar imágenes del interior de los dientes y encías. Esto puede ayudar a su dentista a identificar problemas, como caries, caída dental y dientes impactados.</p>
  <p>Las radiografías dentales <b>suelen realizarse anualmente</b>. Pueden realizarse con más frecuencia si su dentista está siguiendo la evolución de un problema o tratamiento dental. Los factores que influyen en la frecuencia de las radiografías dentales pueden ser:</p>
  <ul>
    <li>Su edad.</li>
    <li>Su salud bucodental actual.</li>
    <li>Cualquier síntoma de enfermedad bucodental.</li>
    <li>Antecedentes de enfermedad de las encías (gingivitis) o caries dental.</li>
  </ul>
  <p>Si usted es un nuevo paciente, probablemente se le harán radiografías dentales para que su nuevo dentista pueda hacerse una idea clara de su salud dental. Esto es especialmente importante si no tiene ninguna radiografía de su dentista anterior.</p>
{% endblock %}

{% block service-image %}
  <img src="{% static 'images/servicios/evaluacion-clinica-y-radiografica.jpeg' %}">
{% endblock %}
