{% extends 'servicios/plantilla-servicios.html' %}

{% load static %}

{% block head-title %}
  <title>Limpieza dental | Clínica Dental Díaz</title>
{% endblock %}

{% block banner-image %}
  <img src="{% static 'images/portadas/limpieza-dental.jpg' %}" class="slider-imagen">
{% endblock %}

{% block title %}
  Limpieza dental
{% endblock %}

{% block principal %}
  <p>Una <b>limpieza dental</b> es un procedimiento preventivo realizado por dentistas o higienistas dentales para mantener o conseguir una salud bucodental óptima. En un procedimiento de limpieza dental, el dentista pretende eliminar la placa dental y el sarro que se han acumulado en los dientes para protegerlos de las caries o cavidades dentales, así como de otros problemas de dientes y encías.</p>
  <p>Aunque la limpieza dental puede hacerse en casa con un cepillo de dientes, dentífrico e hilo dental, cada persona sigue necesitando <b>una limpieza más profunda y exhaustiva</b> que sólo puede proporcionarle un dentista. Esto se debe a que el cepillado habitual y el uso del hilo dental no pueden eliminar por completo la placa y el sarro que tienden a adherirse a la superficie de los dientes.</p>
  <p>El procedimiento <b>elimina la placa mineralizada</b> o los depósitos de sarro en la superficie de los dientes para prevenir los problemas dentales que pueden causar cuando se dejan inalterados. Estos depósitos pueden acumularse fácilmente incluso cuando una persona se cepilla los dientes o utiliza el hilo dental con cuidado y regularidad. El cepillado rutinario puede ralentizar la acumulación de placa, pero no puede evitarla por completo.</p>
  <p>Los <b>objetivos</b> de someterse regularmente a una limpieza dental profesional son:</p>
  <ul>
    <li>Prevenir las caries.</li>
    <li>Mantener una buena salud bucodental.</li>
    <li>Prevenir enfermedades periodontales.</li>
    <li>Evitar que se acumule demasiado sarro.</li>
    <li>Eliminar las manchas superficiales.</li>
  </ul>
{% endblock %}

{% block service-image %}
  <img src="{% static 'images/servicios/limpieza-dental.jpg' %}">
{% endblock %}
