{% extends 'servicios/plantilla-servicios.html' %}

{% load static %}

{% block head-title %}
  <title>Odontología general | Clínica Dental Díaz</title>
{% endblock %}

{% block banner-image %}
  <img src="{% static 'images/portadas/odontologia-general.jpg' %}" class="slider-imagen">
{% endblock %}

{% block title %}
  Odontología general
{% endblock %}

{% block principal %}
  <p>La definición de <b>odontología general</b> incluye la evaluación, el diagnóstico, la prevención y el tratamiento de enfermedades, trastornos y afecciones de la cavidad oral, el área maxilofacial, las estructuras adyacentes y asociadas y su repercusión en el cuerpo humano; prestados por un odontólogo general, dentro del ámbito de su educación, formación y experiencia, siguiendo la ética de la profesión y la legislación aplicable.</p>
  <p>Los servicios de odontología general son el <b>área de la odontología</b> con la que probablemente esté más familiarizado. Si se ha sometido a un raspado y pulido, a un empaste o le han colocado una dentadura postiza, todo ello entra dentro de la categoría de odontología general. La mayoría de los graduados de las facultades de odontología empiezan a ejercer la odontología general inmediatamente después de graduarse, mientras que algunos continúan su formación especializada en un campo específico.</p>
  <p>La odontología general <b>abarca una amplia gama de procedimientos</b> que incluyen la consulta inicial y diagnósticos como radiografías, tomografías computarizadas y moldes de cera para dientes de sustitución.</p>
  <p>La Asociación Dental Americana (ADA) recomienda <b>visitar al dentista con regularidad</b> (al menos una vez cada seis meses) para garantizar una higiene y funcionalidad bucal adecuadas. Las revisiones periódicas y el mantenimiento de la salud bucodental previenen la aparición de problemas dentales graves que pueden requerir un tratamiento costoso.</p>
  <p>La odontología general desarrolla un <b>plan de higiene dental personalizado</b> que incorpora el examen dental, la limpieza dental, el posible raspado dental, la radiografía y el uso de otros equipos de diagnóstico para evitar que se descubran los problemas o tratarlos lo antes posible.</p>
{% endblock %}

{% block service-image %}
  <img src="{% static 'images/servicios/odontologia-general.jpg' %}">
{% endblock %}