{% extends 'servicios/plantilla-servicios.html' %}

{% load static %}

{% block head-title %}
  <title>Periodoncia | Clínica Dental Díaz</title>
{% endblock %}

{% block banner-image %}
  <img src="{% static 'images/portadas/periodoncia.jpg' %}" class="slider-imagen">
{% endblock %}

{% block title %}
  Periodoncia
{% endblock %}

{% block principal %}
  <p>La <b>periodoncia</b> es el área de la odontología que se encarga del estudio, prevención y tratamiento de aquellas patologías que afectan a los tejidos que protegen, rodean y sujetan los dientes: encía, hueso alveolar, ligamento periodontal y cemento radicular.</p>
  <p>Las <b>lesiones periodontales</b> se producen por la acumulación de bacterias, que ocasionan alteraciones del periodonto. Si no son tratadas, estas dolencias avanzan progresivamente, pudiendo provocar la caída de los dientes y diversas afecciones en nuestro organismo.</p>
  <p>Una <b>enfermedad periodontal</b> es una patología crónica, que abarca brotes con una sintomatología mínima y puede conducir a la pérdida de soporte de sujeción de los dientes, es decir, a la destrucción de las encías y el hueso que sujeta los dientes.</p>
  <p>El tratamiento de las enfermedades periodontales varía en función del estado de avance de la patología. El dentista se encargará de <b>realizar una evaluación</b> y pautar el plan de tratamiento más indicado.</p>
  <p>En el caso de la periodontitis, el tratamiento suele organizarse en dos fases. En la fase básica se eliminan las bacterias periodontales mediante el <b>raspado y alisado radicular</b>. En enfermedades cuyo estado es más grave se considerará acceder a las bolsas periodontales profundas realizando una <b>cirugía periodontal</b>. A veces, en este tipo de fases se aplican técnicas de regeneración ósea. Si las encías están muy retraídas puede llevarse a cabo una cirugía periodontal con injertos para cubrir la parte que se ha perdido tras su deterioro.</p>
{% endblock %}

{% block service-image %}
  <img src="{% static 'images/servicios/periodoncia.jpg' %}">
{% endblock %}
