{% extends 'servicios/plantilla-servicios.html' %}

{% load static %}

{% block head-title %}
  <title>Prótesis removibles | Clínica Dental Díaz</title>
{% endblock %}

{% block banner-image %}
  <img src="{% static 'images/portadas/protesis-removibles.jpg' %}" class="slider-imagen">
{% endblock %}

{% block title %}
  Prótesis removibles
{% endblock %}

{% block principal %}
  <p>Una <b>prótesis dental removible</b> es un tratamiento que se basa en un aparato externo y que servirá para sustituir la falta de piezas dentales y estructuras óseas atrofiadas por el paso del tiempo. Son aparatos bucales, portadores de dientes artificiales, que se pueden y deben extraer de la boca para limpiarlos más fácilmente.</p>
  <p>Son aparatos que <b>mejoran la masticación de los alimentos, la estética bucal y el habla</b>. Algunas de ellas se sujetan sobre los dientes naturales con dispositivos rígidos (retenedores o “ganchos”) y, a veces, descansan sobre el hueso. De ahí que al morder no sea tan eficaz como los dientes propios y naturales del paciente.</p>
  <p>La colocación de prótesis removibles se recomienda en casos de ausencia de piezas dentales para <b>permitir al paciente recuperar la función masticatoria y estética</b>. También se recomiendan en casos en que no puedan aplicarse prótesis fijas, por rechazo del hueso a los implantes dentales u otras estructuras fijas, o por otros motivos de salud. Asimismo, también <b>suponen un menor coste económico</b>, motivo por el que muchas personas recurren a esta alternativa.</p>
  <p>Existen, básicamente, dos tipos de prótesis removible:</p>
  <ul>
    <li><b>Dentadura postiza:</b> Es un tipo de prótesis removible que se sujeta sobre la encía y puede hacerlo también en los dientes que todavía le queden al paciente. Las ventajas son que son totalmente removibles y que la higiene es muy fácil.</li>
    <li><b>Sobredentadura implantosoportada:</b> Es otro tipo de prótesis removible que combina el soporte por implante osteointegrado con el tejido blando de la mandíbula. La ventaja es que supone un menor coste de implantación, comparándolo con los implantes convencionales. No obstante, económicamente es más cara que la dentadura postiza.</li>
  </ul>
{% endblock %}

{% block service-image %}
  <img src="{% static 'images/servicios/protesis-removibles.jpg' %}">
{% endblock %}
