{% extends 'servicios/plantilla-servicios.html' %}

{% load static %}

{% block head-title %}
  <title>Tratamiento de conducto | Clínica Dental Díaz</title>
{% endblock %}

{% block banner-image %}
  <img src="{% static 'images/portadas/tratamiento-de-conducto.jpg' %}" class="slider-imagen">
{% endblock %}

{% block title %}
  Tratamiento de conducto
{% endblock %}

{% block principal %}
  <p>El <b>tratamiento de conductos radiculares</b> (endodoncia) está diseñado para eliminar las bacterias del conducto radicular infectado, prevenir la reinfección del diente y salvar el diente natural. Cuando uno se somete a una endodoncia, se extrae la pulpa inflamada o infectada y se limpia y desinfecta cuidadosamente el interior del diente, para después obturarlo y sellarlo. Una endodoncia es un procedimiento serio, pero que los especialistas realizan a diario.</p>
  <p>En el interior del diente, bajo el esmalte blanco y una capa dura llamada dentina, hay <b>un tejido blando llamado pulpa</b>. Este tejido contiene vasos sanguíneos, nervios y tejido conjuntivo, que ayudan al crecimiento de la raíz del diente durante su desarrollo. Un diente completamente desarrollado puede sobrevivir sin la pulpa porque sigue nutriéndose de los tejidos que lo rodean.</p>
  <p>Salvar el diente natural con <b>un tratamiento de conducto tiene muchas ventajas:</b></p>
  <ul>
    <li>Masticación eficaz.</li>
    <li>Fuerza y sensación de mordida normales.</li>
    <li>Aspecto natural.</li>
    <li>Protege los demás dientes de un desgaste o tensión excesivos.</li>
  </ul>
  <p>Dado que los pacientes reciben anestesia, <b>una endodoncia no es más dolorosa que un procedimiento dental normal</b>, como un empaste o la extracción de una muela del juicio. Sin embargo, una endodoncia suele doler o entumecerse un poco después del procedimiento, e incluso puede causar molestias leves durante unos días.</p>
{% endblock %}

{% block service-image %}
  <img src="{% static 'images/servicios/tratamiento-de-conducto.jpg' %}">
{% endblock %}
