{% extends 'servicios/plantilla-servicios.html' %}

{% load static %}

{% block head-title %}
  <title>Tratamiento de caries | Clínica Dental Díaz</title>
{% endblock %}

{% block banner-image %}
  <img src="{% static 'images/portadas/tratamiento-de-caries.jpg' %}" alt="Dientes con caries" class="slider-imagen">
{% endblock %}

{% block title %}
  Tratamiento de caries
{% endblock %}

{% block principal %}
  <p><b>Las caries</b> son zonas permanentemente dañadas en la superficie dura de los dientes que se convierten en pequeñas aberturas o agujeros. Las caries son causadas por una combinación de factores, como la presencia de bacterias en la boca, el consumo frecuente de golosinas, el consumo de bebidas azucaradas y la falta de limpieza dental.</p>
  <p>La caries dental son <b>uno de los problemas de salud más comunes del mundo</b>. Son especialmente frecuentes en niños, adolescentes y adultos mayores. Pero cualquier persona con dientes puede tener caries, incluidos los bebés.</p>
  <p>Si las caries no se tratan, aumentan de tamaño y afectan a las capas más profundas de los dientes. Pueden provocar un fuerte dolor de muelas, infección y pérdida de dientes. Las <b>visitas regulares al dentista y unos buenos hábitos de cepillado</b> y uso del hilo dental son la mejor protección contra las caries.</p>
  <p>Los <b>signos y síntomas</b> de las caries varían en función de su extensión y localización. Cuando una caries está empezando, es posible que no presente ningún síntoma. A medida que la caries aumenta de tamaño, puede causar signos y síntomas como:</p>
  <ul>
    <li>Dolor de muelas, dolor espontáneo o que se produce sin causa aparente.</li>
    <li>Sensibilidad dental.</li>
    <li>Dolor de leve a agudo al comer o beber algo dulce, caliente o frío.</li>
    <li>Agujeros o fosas visibles en los dientes.</li>
    <li>Manchas marrones, negras o blancas en cualquier superficie de un diente.</li>
    <li>Dolor al morder.</li>
  </ul>
  <p>Es posible que no te des cuenta de que se está formando una carie. Por eso es importante someterse a <b>revisiones y limpiezas dentales periódicas</b>, incluso cuando se sienta bien. No obstante, si siente dolor de muelas o dolor en la boca, acuda al dentista lo antes posible.</p>
{% endblock %}

{% block service-image %}
  <img src="{% static 'images/servicios/tratamiento-de-caries.jpg' %}" alt="Dientes con caries">
{% endblock %}